/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(33, 243, 96);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(33, 243, 96);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.game-info {
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.click-square {
  width: 0px;
  height: 100%;
  background-color: aqua;
  transition: 0.3s;
}

.square-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked-square {
  width: 100%;
}

.wrong-square-after {
  width: 100% !important;
  height: 100% !important;
}

.grid-zoom-in {
  overflow: hidden;
  opacity: 0 !important;
  height: 0px !important;
  width: 0px !important;
}

.initial-grid {
  height: 600px;
  width: 600px;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;
  opacity: 1;
  transition: 0.5s;
}

.wrong-square-before {
  height: 0%;
  width: 0%;
  background-color: red;
  transition: 0.3s;
}
